$color-slightly-pink:#E5DFDC;
$color-pink: #f28482;

$color-black: #000000;
$color-slightly-white: #FEF9FF;
$color-coffee: #674B3C;
$color-dark-purple: #322D4E;
$color-light-purple: #F7F5F3;

$grid-width: 114rem;
    $gutter-vertical: 8rem;
    $gutter-horizontal: 3rem;

    @mixin clearfix{
      &::after{
      content: "";
      display: table;
      clear: both;
      }
      }

      body{
        background-color: $color-slightly-pink;
      }
*,
*::after,
*::before {
  margin: 0;
  padding: 0;

}
.row{
  max-width: $grid-width;
  margin: 0 auto;

  &:not(:last-child) {
  margin-bottom: $gutter-vertical;
  }

  @include clearfix;



  [class^="col-"]{
  float: left;

  &:not(:last-child)   {
  margin-right: $gutter-horizontal;
  }
  }


  .col-1-of-2{
  width: calc((100% - #{$gutter-horizontal}) / 2);
  }

  .col-1-of-3 {
  width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
  }

  .col-2-of-3 {
  width: calc(2 * ((100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal});
  }

  .col-1-of-4 {
  width: calc((100% - 3 * #{$gutter-horizontal}) / 4);
  }

  .col-2-of-4 {
  width: calc(2 * ((100% - 3 * #{$gutter-horizontal}) / 4) + #{$gutter-horizontal});
  }

  .col-3-of-4 {
  width: calc(3 * ((100% - 3 * #{$gutter-horizontal}) / 4) + 2 * #{$gutter-horizontal});
  }


  }

.navigation{

    &_checkbox{
        display: none;
    }

    &_button{
      background-color: $color-slightly-white;
     height: 5rem;
     width: 5rem;
     position: fixed;
     top: 3rem;
     right: 2rem;
     border-radius: 50%;
     z-index: 2000;
     box-shadow: 0 1rem 3rem rgba($color-black, .1);
     text-align: center;
     cursor: pointer;
     transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1);
     &:hover{
       transform: translateY(-6px) ;
   }   
   &:active{
       transform:scale(.2) ;
   }
 }
 

 &_background{
     height: 4rem;
     width: 4rem;
     border-radius: 50%;
     position: fixed;
     top: 3.4rem;
     right: 2.1rem;
     background-image: radial-gradient(#4D382D, #745544);
     z-index: 1000;

     transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);

     
 }

    &_nav{
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1500;

        opacity: 0;
        width: 0;

        transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    &_list{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
        width: 100%;
    }

    &_item{
        margin: 2rem;
    }

    &_link{
        &:link,
        &:visited{
            display: inline-block;
            font-size: 3rem;
              font-family: 'Comic Neue', cursive;
           
            color: $color-slightly-white;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(120deg,transparent 0%,transparent 50%, $color-slightly-white 50%);
            background-size: 220%;
            transition: all .4s;

            span{
                margin-right: 1rem;
                display: inline-block;
            }
        }

        &:hover,
        &:active{
            background-position: 100%;
            color: #33261E;
            transform: translateX(1rem);
        }

    }

    &_checkbox:checked ~ &_background{
        transform: scale(80);
    }

    &_checkbox:checked ~ &_nav{
        opacity: 1;
        width: 100%;
    }


    &_icon{

        position: relative;
        margin-top: 2.4rem;
        &,
        &::before,
        &::after{
            width: 3rem;
            height: 2px;
            background-color: rgb(167, 167, 167);
            display: inline-block;
        }


        &::before,
        &::after{
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }


        &::before{
            top: -.8rem;
        }

        &::after{
            top: .8rem;
        }


        &_button:hover &_icon::before{
            top: -1rem;
        }
    }

        &_button:hover &_icon::after{
            top: 1rem;
        }


        &_checkbox:checked + &_button &_icon{
            background-color: transparent;
        }

        &_checkbox:checked + &_button &_icon::before{
            transform: rotate(135deg);
            top: 0;
        }

        &_checkbox:checked + &_button &_icon::after{
            transform: rotate(-135deg);
            top: 0;
        }
   }

.navbar{
    position: absolute;
    top: 50px;
    z-index: 30;
    right: 100px;
}

.nav{

        &-list{

          right: 100px;
      }

      &-item{
        display: inline-block;
        padding: 0.5rem;
        margin-left: 5px;
        margin-right: 5px;
        /* animation: text 3s ease-out; */

      }

      &-link{
        text-decoration: none;
        padding: 1rem;
      color: $color-slightly-white;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 18px;
      position: relative;
    }

    &-underline {
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);

      position: relative;
      overflow: hidden;

      &:before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 0;
        right: 100%;
        bottom: 0;
        background: $color-slightly-pink;
        height: 4px;
        -webkit-transition-property: right;
        transition-property: right;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
      }
      &:hover:before, &:focus:before, &:active:before {
        right: 0;
      }

    }


}

.header{
    height: 100vh;
    background-image:  linear-gradient(to right, rgba(0, 0, 0, 0.699)),url(https://www.baros.com/uploads/spa/banner/retouch%20spa_s_filter.jpg);
    background-size: cover;
    background-position: top;
    

   &-text{
       position: relative;
       top: 50%;
       &_heading{
           text-transform: uppercase;
          text-align: center;
          color: $color-slightly-white;
          font-family: 'Merienda', cursive;
          backface-visibility: hidden;
       }
        &_h1{

        left: 50%;
        font-size: 30px;
        display: block;
        font-weight: bold;
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        }

        &_h3{

            font-size: 50px;
            display: block;
            font-weight: lighter;
            animation-name: moveInRight;
            animation-duration: 1s;
            animation-timing-function: ease-out;
            }
            hr{
             margin: 0 auto;
              width: 500px;
              border: 0;
              height: 2px;
              background-image: linear-gradient(to right,rgba(255, 255, 255, 0.068), rgba(255, 255, 255, 0.418), rgb(240, 240, 240), rgba(248, 245, 245, 0.418),rgba(255, 255, 255, 0.068));
             }

   }

   &-scroll{
       position: absolute;
       bottom: 30px;
       left: 45%;
      &_down{
          color: $color-slightly-white;
          text-decoration: none;

          &-icon{
              color: $color-slightly-white;
            width: 20px;
          }
      }
   }
}
[data-scroll]{
    transition: all 3s;
}

[data-scroll="in"]{
    opacity: 1;
    transform: translateY(0);
}

[data-scroll="out"]{
    opacity: 0;
    transform: translateY(100px);
}

@-webkit-keyframes hvr-icon-hang {
    0% {
      -webkit-transform: translateY(6px);
      transform: translateY(6px);
    }
    50% {
      -webkit-transform: translateY(2px);
      transform: translateY(2px);
    }
    100% {
      -webkit-transform: translateY(6px);
      transform: translateY(6px);
    }
  }
  @keyframes hvr-icon-hang {
    0% {
      -webkit-transform: translateY(6px);
      transform: translateY(6px);
    }
    50% {
      -webkit-transform: translateY(2px);
      transform: translateY(2px);
    }
    100% {
      -webkit-transform: translateY(6px);
      transform: translateY(6px);
    }
  }
  @-webkit-keyframes hvr-icon-hang-sink {
    100% {
      -webkit-transform: translateY(6px);
      transform: translateY(6px);
    }
  }
  @keyframes hvr-icon-hang-sink {
    100% {
      -webkit-transform: translateY(6px);
      transform: translateY(6px);
    }
  }
  .hvr-icon-hang {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-icon-hang .hvr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  .hvr-icon-hang:hover .hvr-icon, .hvr-icon-hang:focus .hvr-icon, .hvr-icon-hang:active .hvr-icon {
    -webkit-animation-name: hvr-icon-hang-sink, hvr-icon-hang;
    animation-name: hvr-icon-hang-sink, hvr-icon-hang;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
  }



.icon_heading{
    position: relative;

    &-1{
      color: $color-slightly-white;
      font-family: 'Great Vibes', cursive;
      position: absolute;
      top: 20px;
      font-size: 80px;
    left: 20px;
      z-index: 50;

  }

  &-2{
    color: $color-slightly-white;
  font-family: 'Great Vibes', cursive;
  position: absolute;
    top: 120px;
  font-size: 80px;
  left: 60px;
    z-index: 50;

}

    &-a{
      text-decoration: none;
      color: $color-slightly-white;
    }
}


.section-intro{
    height: 50vh;
      &_heading{
        text-align: center;
        margin: 5rem;  
        font-family: 'Merienda', cursive;
        color: $color-dark-purple;
        font-size: 3.5rem;
      text-transform: uppercase;
      }
    
      &_para{
        margin-left: 300px;
        margin-right: 300px;
        text-align: center;
        font-size: 22px;
        margin-top: 2rem;
        font-family: 'Lato', sans-serif;
        
      }
    }


    
    .bg-video{
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100%;
      z-index: -1;
     filter: brightness(40%);
      overflow: hidden;
  
  
      &_content{
          height: 100%;
          width: 100%;
          object-fit: cover;
  
      }
  }


  
  .package{
    position: relative;
    padding: 11rem 0;
    z-index: 1;
   
        }  

        .section-parallax{

          &-img{
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0.781)), url(https://images.pexels.com/photos/161737/pedicure-massage-therapist-spa-161737.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
            min-height: 100vh; 
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            z-index: -1;
          }}
    

          .section-cards{
            padding-left: 100px;
            padding-right: 100px;
           padding-bottom: 100px;
         
           }
           
           .card{
             //Functionality
             perspective: 120rem;
             -moz-perspective: 120rem;
             height: 35rem;
             width: 26rem;
             margin-top: 250px;
             position: relative;
             
           
            //  transition: all .8s ease;
           
           
           
             &_side{
                height: 35rem;
                font-size: 1.5rem;
                transition: all .8s ease;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                backface-visibility: hidden;
                border-radius: 3px;
                overflow: hidden;
                box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
           
           
              &--front{
                  background-color:$color-slightly-white;
              }
           
           
             &--back{
                  transform: rotateY(180deg);
           
                  &-1{
                   background-image: linear-gradient(to right bottom,#CCABA3,#653239);
           
                   &-h1{
                       text-align: center;
                       padding: 3rem;
                       font-size: 25px;
                       color: $color-slightly-white;
                       font-family: 'Merienda', cursive;
                       text-transform: uppercase;
                      
                      
                   }
           
                   &-list{
                     padding: 3rem;
                     margin-top: -70px;
           
                    ul{
                          list-style: none;
                           width: 80%;
                           margin: 0 auto;
           
                       li{
                           text-align: center;
                           font-size: 1.3rem;
                           padding: 1.2rem;
                           color: $color-slightly-pink;
                           font-family: 'Lato', sans-serif;
                          font-weight: 400;
                          list-style: none;
           
                         
                           // &:not(:last-child){
                           //     border-bottom: 1px solid #eee;
                           // }
                       }
                       hr{
                         border: 0;
                         height: .5px;
                         background-image: linear-gradient(to right,rgba(255, 255, 255, 0.068), rgba(255, 255, 255, 0.418), rgb(240, 240, 240), rgba(248, 245, 245, 0.418),rgba(255, 255, 255, 0.068));
                        }
                    }
                   }
           
                   &-button{
                     position: absolute;
                     bottom: 40px;
                     padding: 15px;
                     font-size: 20px;
                     text-transform: uppercase;
                     background: transparent;
                     color: $color-slightly-white;
                     display: block;
                     border-radius: 0.3rem;
                    left: 9rem;
                     text-align: center;
                     -webkit-backface-visibility: hidden;
                     backface-visibility: hidden;
                     text-decoration: none;
                     z-index: 5;
                     font-family: 'Merienda', cursive;
                     
                   &::before{
                     content: "";
                     position: absolute;
                     top: 0;
                     left: 0;
                     width: 100%;
                     height: 100%;
                     z-index: -1;
                     color: $color-slightly-white;
                     background-color: $color-dark-purple;
                     -webkit-transition: all 0.3s;
                     -moz-transition: all 0.3s;
                     -o-transition: all 0.3s;
                     transition: all 0.3s;
                   }
           
                   &:hover::before{
                     opacity: 0 ;
                     -webkit-transform: scale(0.5,0.5);
                     transform: scale(0.5,0.5);
                   }
           
           
                   &::after{
                     content: '';
                     
                     position: absolute;
                     top: 0;
                     left: 0;
                     width: 100%;
                     height: 100%;
                     z-index: -1;
                     opacity: 0;
                     -webkit-transition: all 0.3s;
                     -moz-transition: all 0.3s;
                     -o-transition: all 0.3s;
                     transition: all 0.3s;
                     border: 1px solid rgba($color-slightly-white, 0.6);
                     -webkit-transform: scale(1.2,1.2);
                     transform: scale(1.2,1.2);
                   }
                   &:hover::after{
                   color: $color-black;
                     opacity: 1;
                     -webkit-transform: scale(1,1);
                     transform: scale(1,1);
                   }
                     
                   }
                  }
           
                  &-2{
                   background-image: linear-gradient(to right bottom,#CCABA3,#653239);
                  }
           
                  &-3{
                   background-image: linear-gradient(to right bottom,#CCABA3,#653239);
                  }
              }
           
            }
           
           
             &:hover &_side--front{
                 transform: rotateY(-180deg);
             }
           
             &:hover &_side--back{
                transform: rotateY(0);
            }
           
           
            &_picture{
                    background-size: cover;
                    height: 100%;
                    width: 100%;
                  filter: brightness(50%);
                    border-top-left-radius: 3px;
                    border-top-right-radius: 3px;
           
           
                &--1{
                    background-image: url(https://d3fcjm0b67u5bw.cloudfront.net/thelucernehotel.com-220826302/cms/cache/v2/555d04bcec200.jpg/1920x1080/resize/80/01a41642654f65493e5aa21393f7d763.jpg);
                    
                }
           
                &--2{
                    background-image: url(https://images.pexels.com/photos/3101547/pexels-photo-3101547.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
                   
                }
           
                &--3{
                    background-image: url(https://images.unsplash.com/photo-1506126613408-eca07ce68773?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60);
                   
                }
            }
           
            &_heading{
             font-size: 1.7rem;
             font-weight: 300;
             text-transform: uppercase;
             font-family: 'Merienda', cursive;
             color: $color-slightly-white;
             position: absolute;
             top: 16rem;
            
             
             
             &-1{
               left: 23%;
             }
           
             &-2{
               left: 20%;
             }
           
             &-3{
               left: 15%;
             }
           }
           
           &_heading-span{
             padding: 1rem 1.5rem;
             -webkit-box-decoration-break: clone;
             box-decoration-break: clone;
           
            
           }
           }
           
           
          
.footer{
  background-color: $color-coffee;
  padding: 10rem 2rem;
  font-size: 1.1rem;
  margin-top: 100px;
  position: relative;
top: 300px;
  &_list{
      list-style: none;
  }

  &_item{
      display: inline-block;
      margin-left:2rem;
      margin-right: 2rem;
      letter-spacing: 4px;
      font-size: 20px;
     
  }

  &_phone{
    width: 20px;
  }

  &_link{
      &:link,
      &:visited{
          color: $color-slightly-white;
          text-decoration: none;
          text-transform: uppercase;
          display: inline-block;
          transition: all .2s;
      }

  }

  &_navigation{
     
     position: absolute;
     left: 15%;
     top: 3rem;
    bottom: 10px;
      display: inline-block;
  }

  &_address{
    color: $color-slightly-white; 
    
    &-button{
      position: absolute;
      bottom: 90px;
      padding: 20px;
      font-size: 20px;
      text-transform: uppercase;
      background: transparent;
      color: $color-slightly-white;
      display: block;
      border-radius: 0.3rem;
     
      text-align: center;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      text-decoration: none;
      z-index: 5;

      
    &::before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      color: $color-slightly-white;
      background-color: $color-coffee;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
    }

    &:hover::before{
      opacity: 0 ;
      -webkit-transform: scale(0.5,0.5);
      transform: scale(0.5,0.5);
    }


    &::after{
      content: '';
      
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      opacity: 0;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      border: 1px solid $color-slightly-white;
      -webkit-transform: scale(1.2,1.2);
      transform: scale(1.2,1.2);
    }
    &:hover::after{
    color: $color-black;
      opacity: 1;
      -webkit-transform: scale(1,1);
      transform: scale(1,1);
    }
      }
    &-input{
      font-size: 1.5rem;
      font-family: inherit;
      color: $color-slightly-white;
      padding: 0.5rem 1rem;
      border-radius: 2px;
      background-color: transparent;
      border: none;
      border-bottom: 3px solid $color-slightly-white;
      width: 70%;
      display: block;
      transition: all 2s;
      cursor: pointer;

      &:focus{
          outline: none;
          box-shadow: 0 1rem 2rem rgba($color-black, .1);
          border-bottom: 1px solid $color-slightly-white;
      }

      &:focus:invalid{
          border-bottom: 3px solid red;
      }

      &::-webkit-input-placeholder{
          color: $color-slightly-white;
      }

    
  }

  &-input:placeholder-shown + &-label{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  
  }

  &-label{
    font-size: 1.5rem;
    font-family: inherit;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .3s;
  }


    &-icon{
      color: $color-slightly-white; 
    font-family: 'Great Vibes', cursive;
    margin-left: 100px;
    font-size: 40px;
    cursor: pointer;

     
    }

    &-h3{
      font-size: 20px;
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      cursor: pointer;
    }

    &-p{
      font-size: 20px;
      font-family: 'Lato', sans-serif;
      font-weight: 100;
      cursor: pointer;
    }
  }

  &_social-media{
position: absolute;

left: 40%;
top: 17rem;
  a &-icon{
      font-size: 30px;
    color: $color-slightly-white;
    margin: 30px;
      &:hover{
        color: $color-pink;
        transform: scale(1.2);
       }
      
    }
  }
}

.book{
  position: relative;
  top: 0;
  

  &_heading{
    text-align: center;
    
    margin: 5rem;
    font-family: 'Merienda', cursive;
    color: $color-dark-purple;
    font-size: 3.5rem;
  text-transform: uppercase;
  }
&-now{
  display: inline-block;
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: $color-slightly-white;
  position: absolute;
  left: 2%;
  box-shadow: 2px 7px 5px rgba(15, 13, 13, 0.226);
  
  &_label{
    padding: 1rem;
    font-size: 20px;
    font-family: 'Merienda', cursive;
    color: $color-dark-purple;
    font-weight: bold;
  }

  &_date{
    font-family: 'Merienda', cursive;
    font-size: 20px;
  }

  &_button{
      position: relative;
      font-family: 'Merienda', cursive;
      text-decoration: none;
      text-transform: uppercase;
      color: rgb(158, 154, 154);
      /* border: 1px solid white; */
      padding: 1rem;
      padding-left: 2rem;
      padding-right: 2rem;
      opacity: 1;
      z-index: 10;
      &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        color: $color-slightly-white;
        background-color: #322D4E;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
      }
  
      &:hover::before{
        opacity: 0 ;
        -webkit-transform: scale(0.5,0.5);
        transform: scale(0.5,0.5);
      }
  
  
      &::after{
        content: '';
        
        position: absolute;
        top: -15px;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        border: 1px solid $color-black;
        -webkit-transform: scale(1.2,1.2);
        transform: scale(1.2,1.2);
      }
      &:hover::after{
      color: $color-black;
        opacity: 1;
        -webkit-transform: scale(1,1);
        transform: scale(1,1);
        transform: translateY(1rem);
      }
  }

  &_child{
    margin-right: 1.5rem;
  }

  &_h3{
   left: 25%;
   position: absolute;
   top: 380px;
   font-family: 'Merienda', cursive;
   font-size: 1.6rem;
   color: $color-black;
  }
}


}



// LOADER FOR PAGE ********************************



.loader_bg{
  position: fixed;
 z-index: 999999;
 background-color: $color-slightly-pink;
 width: 100%;
 height: 130vh;

 margin-top: -20px;
 
}

.loader-inner{
   position: absolute;
        border: 4px solid $color-dark-purple;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        left: calc(50% - 33px);
        top: calc(50% - 139px);
        border-right: 0;
        border-top-color: transparent;
        -webkit-animation: loader-1-inner 1s cubic-bezier(.42, .61, .58, .41) infinite;
       animation: loader-1-inner 1s cubic-bezier(.42, .61, .58, .41) infinite;
}

.loader-outter {
         left: 47%;
        top: 34%;
        position: absolute;
        border: 4px solid $color-dark-purple;
        border-left-color: transparent;
        border-bottom: 0;
        width: 60px;
        height: 60px;
        border-radius: 50%;
       -webkit-animation: loader-1-outter 1s cubic-bezier(.42, .61, .58, .41) infinite;
       animation: loader-1-outter 1s cubic-bezier(.42, .61, .58, .41) infinite;
    }

     
    @-webkit-keyframes loader-1-outter {
      0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
      }
      100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
      }
  }
  
  @keyframes loader-1-outter {
      0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
      }
      100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
      }
  }
  
  @-webkit-keyframes loader-1-inner {
      0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
      }
      100% {
          -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
      }
  }
  
  @keyframes loader-1-inner {
      0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
      }
      100% {
          -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
      }
  }
