$color-slightly-pink:#E5DFDC;
$color-pink: #f28482;

$color-black: #000000;
$color-slightly-white: #FEF9FF;
$color-coffee: #674B3C;
$color-dark-purple: #322D4E;
$color-light-purple: #F7F5F3;

$grid-width: 114rem;
    $gutter-vertical: 8rem;
    $gutter-horizontal: 3rem;

    @mixin clearfix{
      &::after{
      content: "";
      display: table;
      clear: both;
      }
      }
      body{
        background-color: $color-slightly-pink;
      }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;

}
.row{
  max-width: $grid-width;
  margin: 0 auto;

  &:not(:last-child) {
  margin-bottom: $gutter-vertical;
  }

  @include clearfix;



  [class^="col-"]{
  float: left;

  &:not(:last-child)   {
  margin-right: $gutter-horizontal;
  }
  }


  

  .col-1-of-2{
  width: calc((100% - #{$gutter-horizontal}) / 2);
  }

  .col-1-of-3 {
  width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
  }

  .col-2-of-3 {
  width: calc(2 * ((100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal});
  }

  .col-1-of-4 {
  width: calc((100% - 3 * #{$gutter-horizontal}) / 4);
  }

  .col-2-of-4 {
  width: calc(2 * ((100% - 3 * #{$gutter-horizontal}) / 4) + #{$gutter-horizontal});
  }

  .col-3-of-4 {
  width: calc(3 * ((100% - 3 * #{$gutter-horizontal}) / 4) + 2 * #{$gutter-horizontal});
  }


  }

.navigation{

    &_checkbox{
        display: none;
    }

    &_button{
      background-color: $color-slightly-white;
     height: 5rem;
     width: 5rem;
     position: fixed;
     top: 3rem;
     right: 2rem;
     border-radius: 50%;
     z-index: 2000;
     box-shadow: 0 1rem 3rem rgba($color-black, .1);
     text-align: center;
     cursor: pointer;
     transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1);
     &:hover{
       transform: translateY(-5px) ;
   }   
   &:active{
       transform:scale(.2) ;
   }
 }
 

 &_background{
     height: 4rem;
     width: 4rem;
     border-radius: 50%;
     position: fixed;
     top: 3.4rem;
     right: 2.1rem;
     background-image: radial-gradient(#4D382D, #745544);
     z-index: 1000;

     transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);

     
 }

    &_nav{
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1500;

        opacity: 0;
        width: 0;

        transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    &_list{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
        width: 100%;
    }

    &_item{
        margin: 2rem;
    }

    &_link{
        &:link,
        &:visited{
            display: inline-block;
            font-size: 3rem;
            font-family: 'Comic Neue', cursive;
            font-weight: 400;
            color: $color-slightly-white;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(120deg,transparent 0%,transparent 50%, $color-slightly-white 50%);
            background-size: 220%;
            transition: all .4s;

            span{
                margin-right: 1rem;
                display: inline-block;
            }
        }

        &:hover,
        &:active{
            background-position: 100%;
            color: #33261E;
            transform: translateX(1rem);
        }

    }

    &_checkbox:checked ~ &_background{
        transform: scale(80);
    }

    &_checkbox:checked ~ &_nav{
        opacity: 1;
        width: 100%;
    }


    &_icon{

        position: relative;
        margin-top: 2.4rem;
        &,
        &::before,
        &::after{
            width: 3rem;
            height: 2px;
            background-color: rgb(167, 167, 167);
            display: inline-block;
        }


        &::before,
        &::after{
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }


        &::before{
            top: -.8rem;
        }

        &::after{
            top: .8rem;
        }


        &_button:hover &_icon::before{
            top: -1rem;
        }
    }

        &_button:hover &_icon::after{
            top: 1rem;
        }


        &_checkbox:checked + &_button &_icon{
            background-color: transparent;
        }

        &_checkbox:checked + &_button &_icon::before{
            transform: rotate(135deg);
            top: 0;
        }

        &_checkbox:checked + &_button &_icon::after{
            transform: rotate(-135deg);
            top: 0;
        }
   }

.navbar{
    position: absolute;
    top: 50px;
    z-index: 30;
    right: 100px;
}

.nav{

        &-list{

          right: 100px;
      }

      &-item{
        display: inline-block;
        padding: 0.5rem;
        margin-left: 5px;
        margin-right: 5px;
        /* animation: text 3s ease-out; */

      }

      &-link{
        text-decoration: none;
        padding: 1rem;
      color: $color-slightly-white;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 18px;
      position: relative;
    }

    &-underline {
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);

      position: relative;
      overflow: hidden;

      &:before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 0;
        right: 100%;
        bottom: 0;
        background: $color-slightly-pink;
        height: 4px;
        -webkit-transition-property: right;
        transition-property: right;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
      }
      &:hover:before, &:focus:before, &:active:before {
        right: 0;
      }

    }


}

.header{
    height: 100vh;
    background-image:  linear-gradient(to right, rgba(0, 0, 0, 0.6)),url(https://d3fcjm0b67u5bw.cloudfront.net/thelucernehotel.com-220826302/cms/cache/v2/5519553fece02.jpg/1680x890/fit/80/8f71fd51068029e8cfcfcc242debb623.jpg);
    background-size: cover;
    background-position: top;
    

   &-text{
       position: relative;
       top: 50%;
       &_heading{
           text-transform: uppercase;
          text-align: center;
          color: $color-slightly-white;
          font-family: 'Merienda', cursive;
          backface-visibility: hidden;
       }
        &_h1{

        left: 50%;
        font-size: 30px;
        display: block;
        font-weight: bold;
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        }

        &_h3{

            font-size: 50px;
            display: block;
            font-weight: lighter;
            animation-name: moveInRight;
            animation-duration: 1s;
            animation-timing-function: ease-out;
            }
            hr{
             margin: 0 auto;
              width: 500px;
              border: 0;
              height: 2px;
              background-image: linear-gradient(to right,rgba(255, 255, 255, 0.068), rgba(255, 255, 255, 0.418), rgb(240, 240, 240), rgba(248, 245, 245, 0.418),rgba(255, 255, 255, 0.068));
             }

   }

   &-scroll{
       position: absolute;
       bottom: 30px;
       left: 45%;
      &_down{
          color: $color-slightly-white;
          text-decoration: none;

          &-icon{
              color: $color-slightly-white;
            width: 20px;
          }
      }
   }
}
[data-scroll]{
    transition: all 3s;
}

[data-scroll="in"]{
    opacity: 1;
    transform: translateY(0);
}

[data-scroll="out"]{
    opacity: 0;
    transform: translateY(100px);
}

@-webkit-keyframes hvr-icon-hang {
    0% {
      -webkit-transform: translateY(6px);
      transform: translateY(6px);
    }
    50% {
      -webkit-transform: translateY(2px);
      transform: translateY(2px);
    }
    100% {
      -webkit-transform: translateY(6px);
      transform: translateY(6px);
    }
  }
  @keyframes hvr-icon-hang {
    0% {
      -webkit-transform: translateY(6px);
      transform: translateY(6px);
    }
    50% {
      -webkit-transform: translateY(2px);
      transform: translateY(2px);
    }
    100% {
      -webkit-transform: translateY(6px);
      transform: translateY(6px);
    }
  }
  @-webkit-keyframes hvr-icon-hang-sink {
    100% {
      -webkit-transform: translateY(6px);
      transform: translateY(6px);
    }
  }
  @keyframes hvr-icon-hang-sink {
    100% {
      -webkit-transform: translateY(6px);
      transform: translateY(6px);
    }
  }
  .hvr-icon-hang {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-icon-hang .hvr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  .hvr-icon-hang:hover .hvr-icon, .hvr-icon-hang:focus .hvr-icon, .hvr-icon-hang:active .hvr-icon {
    -webkit-animation-name: hvr-icon-hang-sink, hvr-icon-hang;
    animation-name: hvr-icon-hang-sink, hvr-icon-hang;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
  }



.icon_heading{
    position: relative;

    &-1{
      color: $color-slightly-white;
      font-family: 'Great Vibes', cursive;
      position: absolute;
      top: 20px;
      font-size: 80px;
    left: 20px;
      z-index: 50;

  }

  &-2{
    color: $color-slightly-white;
  font-family: 'Great Vibes', cursive;
  position: absolute;
    top: 120px;
  font-size: 80px;
  left: 60px;
    z-index: 50;

}

    &-a{
      text-decoration: none;
      color: $color-slightly-white;
    }
}

.section{
  &-booking{
  
    &_heading{
      text-align: center;
      margin: 5rem;
      font-family: 'Merienda', cursive;
      color: #322D4E;
      font-size: 3.0rem;
      text-transform: uppercase;

      &-h3{
        text-align: center;
  font-size: 1.5rem;
  margin-right: 200px;
  margin-left: 200px;
 margin-bottom: 50px;
 font-family: 'Lato', sans-serif;
 font-weight: 300;
      }

      &-h4{
        text-align: center;
        font-size: 1.5rem;
        margin-right: 200px;
        margin-left: 200px;
        color: $color-pink;
        font-family: 'Merienda', cursive;
      }
    }
  }
}
.form{
&__group{
  position: relative;
  margin: 20px;
  margin-left: 550px;
  margin-right: 500px;
  margin-bottom: 50px;
}
&__label{
  margin-bottom: 20px;
}
&__field {
 font-size: 1rem;
 width: 400px;
  border: 0;
  border-bottom: 2px solid $color-black;
  outline: 0;
  padding: 15px 0 7px;
  transition: border-color 0.2s;
  background-color: transparent;
}
&__field::placeholder {
  color: transparent;
}
&__field:placeholder-shown ~ &__label {
  font-size: 1.3rem;
  cursor: text;
  margin-bottom: 20px;
  
}

&__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $color-black;
}

&__field:focus {

  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
  background: #fff;
}
&__field:focus ~ &__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 0.8rem;
  color: #11998e;
  font-weight: 700;
 
}

/* reset input */
&__field:required, &__field:invalid {
  box-shadow: none;
}

}
.select{
  width: 24.5rem;
  height: 3rem;
  font-size: 1.1rem;
  // padding: .5rem;
  color: $color-black;
  border-bottom: 2px solid $color-black;
  border-top: none;
  border-left: none;
  border-right: none;
background-color: transparent;
  &:focus {
      outline: none;
  }

}
.field-button{
  
position: absolute;
padding: 15px;
font-size: 20px;

left: 45%;
text-transform: uppercase;
background: transparent;
color: #9e9a9a;
display: block;
border-radius: 0.3rem;
margin-bottom: 200px;
margin-top: 50px;
text-align: center;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
text-decoration: none;
z-index: 5;
font-family: 'Merienda', cursive;

&::before{
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: -1;
color: $color-slightly-white;
background-color: $color-dark-purple;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
-o-transition: all 0.3s;
transition: all 0.3s;
}

&:hover::before{
opacity: 0 ;
-webkit-transform: scale(0.5,0.5);
transform: scale(0.5,0.5);
}


&::after{
content: '';

position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: -1;
opacity: 0;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
-o-transition: all 0.3s;
transition: all 0.3s;
border: 1px solid rgba($color-black, 0.8);
-webkit-transform: scale(1.2,1.2);
transform: scale(1.2,1.2);
}
&:hover::after{
color: $color-black;
opacity: 1;
-webkit-transform: scale(1,1);
transform: scale(1,1);
}

}

    
.footer{
  background-color: $color-coffee;
  padding: 10rem 2rem;
  font-size: 1.1rem;
  
  position: relative;
top: 150px;
  &_list{
      list-style: none;
  }

  &_item{
      display: inline-block;
      margin-left:2rem;
      margin-right: 2rem;
      letter-spacing: 4px;
      font-size: 20px;
     
  }

  &_phone{
    width: 20px;
  }

  &_link{
      &:link,
      &:visited{
          color: $color-slightly-white;
          text-decoration: none;
          text-transform: uppercase;
          display: inline-block;
          transition: all .2s;
      }

  }

  &_navigation{
     
     position: absolute;
     left: 15%;
     top: 3rem;
    bottom: 10px;
      display: inline-block;
  }

  &_address{
    color: $color-slightly-white; 
    
    &-button{
      position: absolute;
      bottom: 90px;
      padding: 20px;
      font-size: 20px;
      text-transform: uppercase;
      background: transparent;
      color: $color-slightly-white;
      display: block;
      border-radius: 0.3rem;
     
      text-align: center;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      text-decoration: none;
      z-index: 5;

      
    &::before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      color: $color-slightly-white;
      background-color: $color-coffee;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
    }

    &:hover::before{
      opacity: 0 ;
      -webkit-transform: scale(0.5,0.5);
      transform: scale(0.5,0.5);
    }


    &::after{
      content: '';
      
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      opacity: 0;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      border: 1px solid $color-slightly-white;
      -webkit-transform: scale(1.2,1.2);
      transform: scale(1.2,1.2);
    }
    &:hover::after{
    color: $color-black;
      opacity: 1;
      -webkit-transform: scale(1,1);
      transform: scale(1,1);
    }
      }
    &-input{
      font-size: 1.5rem;
      font-family: inherit;
      color: $color-slightly-white;
      padding: 0.5rem 1rem;
      border-radius: 2px;
      background-color: transparent;
      border: none;
      border-bottom: 3px solid $color-slightly-white;
      width: 70%;
      display: block;
      transition: all 2s;
      cursor: pointer;

      &:focus{
          outline: none;
          box-shadow: 0 1rem 2rem rgba($color-black, .1);
          border-bottom: 1px solid $color-slightly-white;
      }

      &:focus:invalid{
          border-bottom: 3px solid red;
      }

      &::-webkit-input-placeholder{
          color: $color-slightly-white;
      }

    
  }

  &-input:placeholder-shown + &-label{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  
  }

  &-label{
    font-size: 1.5rem;
    font-family: inherit;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .3s;
  }


    &-icon{
      color: $color-slightly-white; 
      font-family: 'Great Vibes', cursive;
    margin-left: 100px;
    font-size: 40px;
    cursor: pointer;

     
    }

    &-h3{
      font-size: 20px;
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      cursor: pointer;
    }

    &-p{
      font-size: 20px;
      font-family: 'Lato', sans-serif;
      font-weight: 100;
      cursor: pointer;
    }
  }

  &_social-media{
position: absolute;

left: 40%;
top: 17rem;
  a &-icon{
      font-size: 30px;
    color: $color-slightly-white;
    margin: 30px;
      &:hover{
        color: $color-pink;
        transform: scale(1.2);
       }
      
    }
  }
}

.special_span{
  font-family: 'Lato', sans-serif;
}

.privacy{
  color: $color-black;
  font-size: 20px;
}



// LOADER FOR PAGE**********************************



.loader_bg{
  position: fixed;
 z-index: 999999;
 background-color: $color-slightly-pink;
 width: 100%;
 height: 130vh;

 margin-top: -20px;
 
}

.loader-inner{
   position: absolute;
        border: 4px solid $color-dark-purple;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        left: calc(50% - 33px);
        top: calc(50% - 145px);
        border-right: 0;
        border-top-color: transparent;
        -webkit-animation: loader-1-inner 1s cubic-bezier(.42, .61, .58, .41) infinite;
       animation: loader-1-inner 1s cubic-bezier(.42, .61, .58, .41) infinite;
}

.loader-outter {
         left: 47%;
        top: 34%;
        position: absolute;
        border: 4px solid $color-dark-purple;
        border-left-color: transparent;
        border-bottom: 0;
        width: 60px;
        height: 60px;
        border-radius: 50%;
       -webkit-animation: loader-1-outter 1s cubic-bezier(.42, .61, .58, .41) infinite;
       animation: loader-1-outter 1s cubic-bezier(.42, .61, .58, .41) infinite;
    }

     
    @-webkit-keyframes loader-1-outter {
      0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
      }
      100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
      }
  }
  
  @keyframes loader-1-outter {
      0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
      }
      100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
      }
  }
  
  @-webkit-keyframes loader-1-inner {
      0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
      }
      100% {
          -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
      }
  }
  
  @keyframes loader-1-inner {
      0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
      }
      100% {
          -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
      }
  }


  
textarea{
  border-bottom: 2px solid $color-black;
border-left: none;
border-right: none;
border-top: none;
background-color: transparent;
}