html {
  overflow: scroll;
  overflow-x: hidden;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  background-color: #E5DFDC;
}

.navigation_checkbox {
  display: none;
}

.navigation_button {
  background-color: #FEF9FF;
  height: 5rem;
  width: 5rem;
  position: fixed;
  top: 3rem;
  right: 2rem;
  border-radius: 50%;
  z-index: 2000;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
}

.navigation_button:hover {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

.navigation_button:active {
  -webkit-transform: scale(0.2);
          transform: scale(0.2);
}

.navigation_background {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  position: fixed;
  top: 3.4rem;
  right: 2.1rem;
  background-image: radial-gradient(#4D382D, #745544);
  z-index: 1000;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.navigation_nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  -webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation_list {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}

.navigation_item {
  margin: 2rem;
}

.navigation_link:link, .navigation_link:visited {
  display: inline-block;
  font-size: 3rem;
  font-family: 'Comic Neue', cursive;
  color: #FEF9FF;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #FEF9FF 50%);
  background-size: 220%;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.navigation_link:link span, .navigation_link:visited span {
  margin-right: 1rem;
  display: inline-block;
}

.navigation_link:hover, .navigation_link:active {
  background-position: 100%;
  color: #33261E;
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}

.navigation_checkbox:checked ~ .navigation_background {
  -webkit-transform: scale(80);
          transform: scale(80);
}

.navigation_checkbox:checked ~ .navigation_nav {
  opacity: 1;
  width: 100%;
}

.navigation_icon {
  position: relative;
  margin-top: 2.4rem;
}

.navigation_icon, .navigation_icon::before, .navigation_icon::after {
  width: 3rem;
  height: 2px;
  background-color: #a7a7a7;
  display: inline-block;
}

.navigation_icon::before, .navigation_icon::after {
  content: "";
  position: absolute;
  left: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.navigation_icon::before {
  top: -.8rem;
}

.navigation_icon::after {
  top: .8rem;
}

.navigation_icon_button:hover .navigation_icon_icon::before {
  top: -1rem;
}

.navigation_button:hover .navigation_icon::after {
  top: 1rem;
}

.navigation_checkbox:checked + .navigation_button .navigation_icon {
  background-color: transparent;
}

.navigation_checkbox:checked + .navigation_button .navigation_icon::before {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  top: 0;
}

.navigation_checkbox:checked + .navigation_button .navigation_icon::after {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  top: 0;
}

.navbar {
  position: absolute;
  top: 50px;
  z-index: 30;
  right: 100px;
}

.nav-list {
  right: 100px;
}

.nav-item {
  display: inline-block;
  padding: 0.5rem;
  margin-left: 5px;
  margin-right: 5px;
  /* animation: text 3s ease-out; */
}

.nav-link {
  text-decoration: none;
  padding: 1rem;
  color: #FEF9FF;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 18px;
  position: relative;
}

.nav-underline {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}

.nav-underline:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #E5DFDC;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.nav-underline:hover:before, .nav-underline:focus:before, .nav-underline:active:before {
  right: 0;
}

/* IMAGE SLIDER */
.header {
  background-size: cover;
  background-position: top;
}

.header_text {
  z-index: 50;
  position: absolute;
  color: #FEF9FF;
  top: 50%;
  left: 450px;
  font-family: 'Comic Neue', cursive;
  font-size: 30px;
}

.header_text h1 {
  text-align: center;
}

.header_text p {
  text-align: center;
}

.slider {
  overflow: hidden;
  width: 100%;
  z-index: 1;
}

.slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  -webkit-animation: 30s slider cubic-bezier(0.21, 0.16, 0.35, 1.26) infinite;
          animation: 30s slider cubic-bezier(0.21, 0.16, 0.35, 1.26) infinite;
}

.slider figure img {
  float: left;
  width: 20%;
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider-image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100vh;
}

@-webkit-keyframes slider {
  0% {
    left: 0;
  }
  10% {
    left: 0;
  }
  20% {
    left: -100%;
  }
  30% {
    left: -100%;
  }
  40% {
    left: -200%;
  }
  50% {
    left: -200%;
  }
  60% {
    left: -300%;
  }
  70% {
    left: -300%;
  }
  80% {
    left: -400%;
  }
  90% {
    left: -400%;
  }
  100% {
    left: 0%;
  }
}

@keyframes slider {
  0% {
    left: 0;
  }
  10% {
    left: 0;
  }
  20% {
    left: -100%;
  }
  30% {
    left: -100%;
  }
  40% {
    left: -200%;
  }
  50% {
    left: -200%;
  }
  60% {
    left: -300%;
  }
  70% {
    left: -300%;
  }
  80% {
    left: -400%;
  }
  90% {
    left: -400%;
  }
  100% {
    left: 0%;
  }
}

.icon_heading {
  position: relative;
}

.icon_heading-1 {
  color: #FEF9FF;
  font-family: 'Great Vibes', cursive;
  position: absolute;
  top: 20px;
  font-size: 80px;
  left: 20px;
  z-index: 50;
}

.icon_heading-2 {
  color: #FEF9FF;
  font-family: 'Great Vibes', cursive;
  position: absolute;
  top: 120px;
  font-size: 80px;
  left: 60px;
  z-index: 50;
}

.icon_heading-a {
  text-decoration: none;
  color: #FEF9FF;
}

.welcome {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  color: #000000;
}

.welcome_img {
  width: 700px;
}

.welcome_img-2 {
  position: absolute;
  right: 120px;
  top: 100px;
  z-index: 15;
}

.welcome_text {
  width: 45%;
  background-color: rgba(254, 249, 255, 0.877);
  position: absolute;
  top: 250px;
  left: 120px;
  font-size: 17px;
  z-index: 30;
  padding: 10px;
  border: solid 5px rgba(50, 45, 78, 0.966);
  border-radius: 265px 15px 225px 5px/15px 225px 15px 255px;
  font-family: 'Merienda', cursive;
}

.welcome_text-h1 {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.welcome_text-p {
  text-align: center;
  margin: 10px;
}

.card {
  border: 0px solid aqua;
  position: relative;
  height: 400px;
  overflow: hidden;
  border-radius: 0.5rem;
  margin-bottom: 4.5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 300px;
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  font-family: 'Merienda', cursive;
  margin-right: 5rem;
}

.card-wrapper {
  margin: 0 auto;
  margin-top: 50px;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5rem;
}

.card_read-more {
  text-transform: uppercase;
  background: transparent;
  color: #FEF9FF;
  display: block;
  padding: 0.5rem 0.7rem;
  border-radius: 0.3rem;
  margin-top: 1rem;
  margin-right: 10rem;
  text-align: center;
  font-size: 1rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-decoration: none;
  width: 7rem;
  margin-left: auto;
  position: relative;
  z-index: 5;
}

.card_read-more::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  color: #FEF9FF;
  background-color: #674B3C;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.card_read-more:hover::before {
  opacity: 0;
  -webkit-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
}

.card_read-more::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}

.card_read-more:hover::after {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.card_excerpt {
  font-weight: 300;
}

.card_details-wrapper {
  max-height: 0;
  opacity: 0;
  -webkit-transition: max-height 1.5s ease, opacity 1s ease;
  transition: max-height 1.5s ease, opacity 1s ease;
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0) -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(0, 0, 0, 0)), color-stop(80%, rgba(0, 0, 0, 0.7)));
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 80%);
  z-index: 0;
}

.card_card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  /*     background: rgba(255,0,0,.5); */
}

.card_image {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 3s ease;
  transition: -webkit-transform 3s ease;
  transition: transform 3s ease;
  transition: transform 3s ease, -webkit-transform 3s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  z-index: -1;
}

.card_text-wrapper {
  position: absolute;
  bottom: 0rem;
  padding: 1rem;
  color: white;
  /*     background-color: rgba(0, 0, 0, 0.4); */
  -webkit-transition: background-color 1.5s ease;
  transition: background-color 1.5s ease;
}

.card_title {
  -webkit-transition: color 1s ease;
  transition: color 1s ease;
  margin-bottom: .5rem;
  text-align: center;
  text-transform: uppercase;
}

.card-1, .card-3, .card-6 {
  margin-right: 5rem;
  min-width: 295px;
}

.card-2, .card-4, .card-6 {
  margin-top: 7rem;
  margin-left: 5rem;
  min-width: 295px;
}

@media (min-width: 900px) {
  .card {
    height: 500px;
  }
}

@media (min-width: 900px) {
  .card:hover .card_details-wrapper {
    max-height: 20rem;
    opacity: 1;
  }
  .card:hover .card_text-wrapper {
    background-color: rgba(0, 0, 0, 0.6);
  }
  .card:hover .card_title {
    color: #f28482;
  }
  .card:hover .card_image {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    z-index: -1;
  }
}

.card_heading {
  text-align: center;
  margin: 5rem;
  font-family: 'Merienda', cursive;
  color: #322D4E;
  font-size: 3.5rem;
  text-transform: uppercase;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row [class^="col-"] {
  float: left;
}

.row [class^="col-"]:not(:last-child) {
  margin-right: 3rem;
}

.row .col-1-of-2 {
  width: calc((100% - 3rem) / 2);
}

.row .col-1-of-3 {
  width: calc((100% - 2 * 3rem) / 3);
}

.row .col-2-of-3 {
  width: calc(2 * ((100% - 2 * 3rem) / 3) + 3rem);
}

.row .col-1-of-4 {
  width: calc((100% - 3 * 3rem) / 4);
}

.row .col-2-of-4 {
  width: calc(2 * ((100% - 3 * 3rem) / 4) + 3rem);
}

.row .col-3-of-4 {
  width: calc(3 * ((100% - 3 * 3rem) / 4) + 2 * 3rem);
}

.composition {
  position: relative;
}

.composition_photo {
  width: 55%;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  position: absolute;
  -webkit-transition: all .2s;
  transition: all .2s;
  outline-offset: 2rem;
}

.composition_photo--p1 {
  left: 0;
  top: -2rem;
  height: 250px;
}

.composition_photo--p2 {
  right: 0;
  top: 2rem;
  height: 250px;
}

.composition_photo--p3 {
  left: 20%;
  top: 10rem;
  height: 250px;
}

.composition_photo:hover {
  -webkit-transform: scale(1.02) translateY(-0.5rem);
          transform: scale(1.02) translateY(-0.5rem);
  -webkit-box-shadow: 0 2.5rem 4 rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 2.5rem 4 rem rgba(0, 0, 0, 0.5);
  z-index: 20;
}

.composition:hover .composition_photo:not(:hover) {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
}

.package {
  position: relative;
  padding: 15rem 0;
  z-index: 1;
}

.package_text-box {
  text-align: center;
  margin-top: 50px;
}

.package_content {
  z-index: 10;
  position: absolute;
  top: 10px;
  left: 30px;
  right: 30px;
}

.package_para {
  font-size: 1.3rem;
  font-family: 'Merienda', cursive;
  color: #FEF9FF;
}

.package_para:not(:last-child) {
  margin-bottom: 3rem;
}

.package_button {
  position: absolute;
  top: 90%;
  padding: 20px;
  font-size: 20px;
  text-transform: uppercase;
  background: transparent;
  color: #FEF9FF;
  display: block;
  border-radius: 0.3rem;
  left: 10rem;
  font-family: 'Merienda', cursive;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-decoration: none;
  z-index: 5;
}

.package_button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  color: #FEF9FF;
  background-color: #322D4E;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.package_button:hover::before {
  opacity: 0;
  -webkit-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
}

.package_button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.76);
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}

.package_button:hover::after {
  color: #000000;
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
  overflow: hidden;
}

.bg-video_content {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

[data-scroll] {
  -webkit-transition: all 3s;
  transition: all 3s;
}

[data-scroll="in"] {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

[data-scroll="out"] {
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

.footer {
  background-color: #674B3C;
  padding: 10rem 2rem;
  font-size: 1.1rem;
  margin-top: 400px;
  position: relative;
  top: 300px;
}

.footer_list {
  list-style: none;
}

.footer_item {
  display: inline-block;
  margin-left: 2rem;
  margin-right: 2rem;
  letter-spacing: 4px;
  font-size: 20px;
}

.footer_phone {
  width: 20px;
}

.footer_link:link, .footer_link:visited {
  color: #FEF9FF;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.footer_navigation {
  position: absolute;
  left: 15%;
  top: 3rem;
  bottom: 10px;
  display: inline-block;
}

.footer_address {
  color: #FEF9FF;
}

.footer_address-button {
  position: absolute;
  bottom: 90px;
  padding: 20px;
  font-size: 20px;
  text-transform: uppercase;
  background: transparent;
  color: #FEF9FF;
  display: block;
  border-radius: 0.3rem;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-decoration: none;
  z-index: 5;
}

.footer_address-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  color: #FEF9FF;
  background-color: #674B3C;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer_address-button:hover::before {
  opacity: 0;
  -webkit-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
}

.footer_address-button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #FEF9FF;
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}

.footer_address-button:hover::after {
  color: #000000;
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.footer_address-input {
  font-size: 1.5rem;
  font-family: inherit;
  color: #FEF9FF;
  padding: 0.5rem 1rem;
  border-radius: 2px;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #FEF9FF;
  width: 70%;
  display: block;
  -webkit-transition: all 2s;
  transition: all 2s;
  cursor: pointer;
}

.footer_address-input:focus {
  outline: none;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #FEF9FF;
}

.footer_address-input:focus:invalid {
  border-bottom: 3px solid red;
}

.footer_address-input::-webkit-input-placeholder {
  color: #FEF9FF;
}

.footer_address-input:placeholder-shown + .footer_address-label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
          transform: translateY(-4rem);
}

.footer_address-label {
  font-size: 1.5rem;
  font-family: inherit;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.footer_address-icon {
  color: #FEF9FF;
  font-family: 'Great Vibes', cursive;
  margin-left: 100px;
  font-size: 40px;
  cursor: pointer;
}

.footer_address-h3 {
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  cursor: pointer;
}

.footer_address-p {
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  cursor: pointer;
}

.footer_social-media {
  position: absolute;
  left: 40%;
  top: 17rem;
}

a .footer_social-media-icon {
  font-size: 30px;
  color: #FEF9FF;
  margin: 30px;
}

a .footer_social-media-icon:hover {
  color: #f28482;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.book {
  position: relative;
  top: 300px;
}

.book-now {
  display: inline-block;
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #FEF9FF;
  position: absolute;
  left: 2%;
  -webkit-box-shadow: 2px 7px 5px rgba(15, 13, 13, 0.226);
          box-shadow: 2px 7px 5px rgba(15, 13, 13, 0.226);
}

.book-now_label {
  padding: 1rem;
  font-size: 20px;
  font-family: 'Merienda', cursive;
  color: #322D4E;
  font-weight: bold;
}

.book-now_date {
  font-family: 'Merienda', cursive;
  font-size: 20px;
}

.book-now_button {
  position: relative;
  font-family: 'Merienda', cursive;
  text-decoration: none;
  text-transform: uppercase;
  color: #9e9a9a;
  /* border: 1px solid white; */
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  opacity: 1;
  z-index: 10;
}

.book-now_button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  color: #FEF9FF;
  background-color: #322D4E;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.book-now_button:hover::before {
  opacity: 0;
  -webkit-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
}

.book-now_button::after {
  content: '';
  position: absolute;
  top: -15px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #000000;
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}

.book-now_button:hover::after {
  color: #000000;
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transform: translateY(1rem);
          transform: translateY(1rem);
}

.book-now_child {
  margin-right: 1.5rem;
}

.book-now_h3 {
  left: 25%;
  position: absolute;
  top: 380px;
  font-family: 'Merienda', cursive;
  font-size: 1.6rem;
  color: #000000;
}

.loader_bg {
  position: fixed;
  z-index: 999999;
  background-color: #ffd9de;
  width: 100%;
  height: 130vh;
  margin-top: -20px;
}

.loader-inner {
  position: absolute;
  border: 4px solid #322D4E;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  left: calc(50% - 33px);
  top: calc(50% - 148px);
  border-right: 0;
  border-top-color: transparent;
  -webkit-animation: loader-1-inner 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
  animation: loader-1-inner 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
}

.loader-outter {
  left: 47.5%;
  top: 35%;
  position: absolute;
  border: 4px solid #322D4E;
  border-left-color: transparent;
  border-bottom: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -webkit-animation: loader-1-outter 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
  animation: loader-1-outter 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
}

@-webkit-keyframes loader-1-outter {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader-1-outter {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-1-inner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@keyframes loader-1-inner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

#style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background-color: transparent;
}

#style-1::-webkit-scrollbar {
  z-index: 1000;
  width: 8px;
  background-color: transparent;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 15px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: grey;
}
/*# sourceMappingURL=main.css.map */